body {
  overflow: hidden;
  background-color: #E0E8FF;
}

svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.container {
  display: inline-block;
  position: absolute;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
  top: 0;
  left: 0;
}

.human-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.payment-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 43%;
  color: #FFFFFF;
  background-color: hsl(245, 75%, 52%);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 6px;
  outline: none;
  border: none;
}

.order-summary-text {
  text-align: center;
  font-size: xx-large;
  font-weight: 700;
}

.about-app {
  display: inline-block;
  width: 32%;
}

.rectangle {
  text-align: center;
}

.cancel-order {
  font-weight: 700px;
}

.grey-box {
  background-color: hsl(225, 100%, 98%);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 43%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 6px;
  outline: none;
  border: none;
}

.bottom-third {
  background-color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 1px;
}

